.table-box {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 15px;

  display: flex;
  flex-direction: column;

  height: 500px;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

/* scroll bonito */
.table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #8aa26a;
  border-radius: 10px;
}

/* tabela */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background: #eef3e5;
}

th, td {
  padding: 8px;
}

tr:hover {
  background-color: #e8f0dc;
}

tr.selected {
  background-color: #cfe3b4;
  font-weight: bold;
}